.card-con{
    height: 144px;
    width: 304px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0.4, 0.4, 0.4, 0.4);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    cursor: pointer;
    margin-right: 15px;
    transition: transform 0.2s ease;
}
.card-con:hover{
    transform: scale(1.08);
}
.date{
    padding-top: 20px;
    font-size: 14.5px;
    color: #000000DE;
    margin-bottom: 0;
}
.card-text{
    padding-left: 15px;
    margin-bottom: 0;
    height: 63%;
}
.card-text2{
    padding-left: 15px;
    margin-bottom: 0;
    height: 10%;
}
.event-name{
    font-size: 19.3px;
    color: #000000DE;
    margin-bottom: 0;
}
.mode{
    font-size: 14.5px;
    color: #000000DE;
    margin-bottom: 0;
}
.see-more{
    font-size: 16px;
    color: #1A73E8;
    margin-top: 8px;
    position: relative;
}

@media (max-width: 767px) {

    .card-con{
      width: 500px;
      /* overflow-x: scroll; */
      padding: 0;
    }
    }