footer{
    position: absolute;
}
.footer2 {
    font-size: 17.6px;
    margin: 4vh 150px;
}

.footer2Left {
    font-family: Roboto, sans-serif;
    margin-left: 150px;
}

.footer2LeftLeft {
    color: #2196f3;
}
.appName{
    font-size: 25px;
}
.follow {
    border-top: 1px solid #0000001f;
    border-bottom: 1px solid #0000001f;
    margin: 0vh 150px;
    padding: 2.5vh 0vw;
}
.resources{
    margin: 0vh 150px;
}
.footer1{
    display: flex;
    margin-left: 150px;
    padding: 2vh 0vw;
    border-bottom: 1px solid #0000001f;
    text-align: left;
}
.aboutText,
.resourcesText,
.developerConsoleText {
    line-height: 1.7;
}

.aboutHeading,
.resourcesHeading,
.developerConsoleHeading {
    color: #000000DE;
    font-size: 22.4px;
}

a {
    color: #3e4551;
    text-decoration: none
}

.follow1 {
    font-size: 130%;
    line-height: 1.5;
}
.footer-con{
    text-align: left;
}
.footer-head{
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}
@media (max-width: 767px) {
footer{
    width: 100%;
}
.follow{
    margin: 0 20px;
    
}
.footer1{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.resources{
    margin: 0;
}
.footer2{
    margin: 0 20px;
}
}